# Social-Media-Scraper
# https://github.com/InfluencerHunters/Social-Media-Scraper
# At the time of writing, there seems to be no liscense for this code, 
# so I am not allowed to distribute it by explicitly including it in this repo
# I only reference to it
SocialMediaScraper/

.DS_Store